@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-k2d: "K2D", sans-serif;
  --text-color-orange-dark: #fd6f00;
}

body {
  background-color: #1a1a1a;
}

.text-ffff {
  color: #5f5f5f;
}

.text-medium-white {
  color: #ffffff;
}

button {
  cursor: pointer;
}
